# Error & Exception
- __Syntax Error__: Kesalahan terkait syntax (penulisan, pendefinisian, tanda baca).
- __Exception__: Error yg ditemukan saat dieksekusi biasanya tidak fatal, dapat dihandle.

## 1. Syntax Error

In [6]:
x := 12 # SyntaxError: invalid syntax
# x = 12 // nilai x = 12 # SyntaxError: invalid syntax. Perhaps you forgot a comma?
# def pi()  # SyntaxError: expected ':'
#     return 3.14
# Def pi(): # SyntaxError: expected ':'
#     return 3.14

SyntaxError: invalid syntax (1238446886.py, line 1)

## 2. Exception
- [Error Docs](https://docs.python.org/3/tutorial/errors.html)
- [Built-in Exception](https://docs.python.org/3/library/exceptions.html#bltin-exceptions)

In [8]:
1/0 # ZeroDivisionError: division by zero
# pembagian berlaku komutatif x / y = z <=> z * y = x

ZeroDivisionError: division by zero

In [9]:
print(y) # NameError: name 'y' is not defined

NameError: name 'y' is not defined

In [14]:
# 12 + 'Andi' # TypeError: unsupported operand type(s) for +: 'int' and 'str'
# 100 - "Budi"
# 100 / "Tes"
# 100 % "X"

# 200 * "Caca" # tidak Error

TypeError: unsupported operand type(s) for %: 'int' and 'str'

In [27]:
x = 12
y = 0
try:  # line utk dicek
    x / y
except: # handle exception
    print(y)
    print('Error karena dibagi 0')
else: # running ketika tak ada exception
    print(y)
    print('Tidak ada error')
finally: # running dlm kondisi apapun tak peduli hasil try
    print("Ini finally block")

0
Error karena dibagi 0
Ini finally block

In [47]:
x = 90
try:
    umur / 0
except ZeroDivisionError as e:
    print('Error ya gaes ya:', e)
except NameError as error:
    print('Error ya gaes ya:', error)
except:
    print('Error karena something')

Error ya gaes ya: name 'umur' is not defined

In [41]:
# saya buat exception: saldo < 10000 tidak bisa transfer
saldo = 0
def transfer(nominalTf):
    if saldo < 10000:
        raise Exception('Minimal saldo untuk transfer 10000! Saldo Anda < 10000')
    return saldo - nominalTf
saldo = transfer(10000)
saldo

Exception: Minimal saldo untuk transfer 10000! Saldo Anda < 10000